*{
  box-sizing: border-box;
}

.lang-wrap{
  margin-left: auto;
  background-color: rgb(26, 21, 63);
  display: flex;
  width: fit-content;
  margin-bottom: 15px;
}

.lang-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  padding: 5px;
  overflow: hidden;
}

.lang-link.active,
.lang-link:hover{
  background: orangered;
}

.lang-link:last-child{
  margin-right: 0;
}

.lang-link img {
  width: 25px;
  height: 20px;
  display: flex;
  object-fit: cover;
}

.form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 768px;
  width: 100%;
}

.form form{
  display: flex;
  flex-direction: column;
}

.form .row {
  display: flex;
  margin-bottom: 4px;
}

.form .row > label {
  display: flex;
}

.form .row > label > span,
.form .row > span  {
  min-width: 220px;
  display: inline-block;
}

.form form > .row > button {
  width: fit-content;
  margin-left: 220px;
} 